<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.tony.stark"
    versionCode = "10"
    version     = "4.4.0" >

<!-- versionCode is optional and Android only -->

  <name>Cat Move</name>

  <description>
      Awesome game
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Tony stark
  </author>
  <icon scr="icon.png"></icon>
</widget>